body {
    background-color: rgb(249, 244, 230) !important;
}

.col-md-5 {
    margin-top: 150px !important;
    background-image: linear-gradient(45deg, #66e8f2 0%, #81cff6 100%);
    border: 1px solid rgb(251, 251, 251);
    border-radius: 15px;
} 

h1 {
    text-align: center;
    font-weight: bolder !important;
    margin: 20px !important;
    color: rgb(189, 17, 212);

}
input {
    display: inline !important;
    border: 3px solid black !important;
    width: 80% !important;
}
button {
    margin-left: 10px !important;
}

li {
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    display: inline;
}
i{
    color: red;
}